csh_intern/kt171_project1.json
[
    {
        "id": "fa459abbbb384fa1",
        "type": "http in",
        "z": "9a8666bdc8a96089",
        "name": "",
        "url": "/api/login",
        "method": "get",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 290,
        "y": 280,
        "wires": [
            [
                "e19de0fbd8378d69"
            ]
        ]
    },
    {
        "id": "7f9862a7d1c76461",
        "type": "http response",
        "z": "9a8666bdc8a96089",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 280,
        "wires": []
    },
    {
        "id": "e19de0fbd8378d69",
        "type": "template",
        "z": "9a8666bdc8a96089",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "html",
        "syntax": "mustache",
        "template": "<!DOCTYPE html>\n<html lang=\"zh-TW\">\n\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>智慧醫療資訊系統 - 登入</title>\n    <style>\n        :root {\n            --primary-bg: #ffffff;\n            --brand-color: #005b96;\n            --brand-hover: #03396c;\n            --text-dark: #333333;\n            --text-light: #666666;\n            --border-color: #e0e0e0;\n            --error-color: #d32f2f;\n            --success-color: #2e7d32;\n            --card-bg: #f8fbfd;\n        }\n\n        body,\n        html {\n            margin: 0;\n            padding: 0;\n            height: 100%;\n            font-family: 'Segoe UI', 'Microsoft JhengHei', sans-serif;\n            background-color: #f0f2f5;\n            display: flex;\n            align-items: center;\n            justify-content: center;\n        }\n\n        .login-wrapper {\n            display: flex;\n            width: 900px;\n            height: 500px;\n            background-color: var(--primary-bg);\n            border-radius: 12px;\n            box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);\n            overflow: hidden;\n        }\n\n        .brand-section {\n            flex: 1;\n            background: linear-gradient(135deg, #005b96 0%, #011f4b 100%);\n            color: white;\n            padding: 40px;\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n        }\n\n        .brand-section h1 {\n            font-size: 32px;\n            margin-bottom: 15px;\n            letter-spacing: 2px;\n        }\n\n        .brand-section p {\n            font-size: 16px;\n            line-height: 1.6;\n            color: #b3cde0;\n        }\n\n        .form-section {\n            flex: 1;\n            padding: 50px 40px;\n            display: flex;\n            flex-direction: column;\n            justify-content: center;\n        }\n\n        .form-section h2 {\n            margin-top: 0;\n            margin-bottom: 30px;\n            color: var(--text-dark);\n            font-weight: 600;\n        }\n\n        .input-group {\n            margin-bottom: 20px;\n        }\n\n        .input-group label {\n            display: block;\n            margin-bottom: 8px;\n            font-size: 14px;\n            font-weight: 500;\n            color: var(--text-light);\n        }\n\n        .input-group input {\n            width: 100%;\n            padding: 12px;\n            border: 1px solid var(--border-color);\n            border-radius: 6px;\n            box-sizing: border-box;\n            font-size: 14px;\n            transition: border-color 0.3s;\n        }\n\n        .input-group input:focus {\n            outline: none;\n            border-color: var(--brand-color);\n            box-shadow: 0 0 0 2px rgba(0, 91, 150, 0.1);\n        }\n\n        button {\n            width: 100%;\n            padding: 14px;\n            background-color: var(--brand-color);\n            color: white;\n            border: none;\n            border-radius: 6px;\n            font-size: 16px;\n            font-weight: bold;\n            cursor: pointer;\n            transition: background-color 0.3s;\n            margin-top: 10px;\n        }\n\n        button:hover {\n            background-color: var(--brand-hover);\n        }\n\n        button:disabled {\n            background-color: #b3cde0;\n            cursor: not-allowed;\n        }\n\n        #message {\n            margin-top: 20px;\n            font-size: 14px;\n            line-height: 1.5;\n        }\n\n        .user-card {\n            background: var(--card-bg);\n            border-left: 4px solid var(--success-color);\n            padding: 15px;\n            border-radius: 4px;\n            margin-top: 15px;\n            animation: fadeIn 0.5s ease-in-out;\n        }\n\n        .user-card h3 {\n            margin: 0 0 10px 0;\n            color: var(--success-color);\n            font-size: 16px;\n        }\n\n        .user-card p {\n            margin: 5px 0;\n            color: var(--text-dark);\n        }\n\n        @keyframes fadeIn {\n            from {\n                opacity: 0;\n                transform: translateY(-10px);\n            }\n\n            to {\n                opacity: 1;\n                transform: translateY(0);\n            }\n        }\n    </style>\n</head>\n\n<body>\n\n    <div class=\"login-wrapper\">\n        <div class=\"brand-section\">\n            <h1>資訊系統</h1>\n        </div>\n        <div class=\"form-section\">\n            <h2>帳號登入</h2>\n            <div class=\"input-group\">\n                <label for=\"username\">員工帳號</label>\n                <input type=\"text\" id=\"username\" placeholder=\"請輸入帳號\" autocomplete=\"off\">\n            </div>\n            <div class=\"input-group\">\n                <label for=\"password\">登入密碼</label>\n                <input type=\"password\" id=\"password\" placeholder=\"請輸入密碼\">\n            </div>\n            <button id=\"loginBtn\" onclick=\"login()\">驗證登入</button>\n            <div id=\"message\"></div>\n        </div>\n    </div>\n\n    <script>\n        async function login() {\n        const usernameInput = document.getElementById('username').value.trim();\n        const passwordInput = document.getElementById('password').value;\n        const messageDiv = document.getElementById('message');\n        const loginBtn = document.getElementById('loginBtn');\n\n        if (!usernameInput || !passwordInput) {\n            messageDiv.style.color = 'var(--error-color)';\n            messageDiv.innerText = '請完整填寫員工帳號與密碼。';\n            return;\n        }\n\n        loginBtn.disabled = true;\n        loginBtn.innerText = '連線驗證中...';\n        messageDiv.innerText = '';\n\n        try {\n            // 發送請求至 Node-RED 的轉發 API\n            const response = await fetch('/api/login', {\n                method: 'POST',\n                headers: { 'Content-Type': 'application/json' },\n                body: JSON.stringify({ username: usernameInput, password: passwordInput })\n            });\n\n            const result = await response.json();\n\n            if (response.ok && result.success) {\n                const u = result.data;\n                messageDiv.innerHTML = `\n                    <div class=\"user-card\">\n                        <h3>身分驗證成功！</h3>\n                        <p><strong>姓名：</strong>${u.name}</p>\n                        <p><strong>單位：</strong>${u.department}</p>\n                        <p><strong>信箱：</strong>${u.email}</p>\n                        <p><strong>系統權限：</strong>${u.role}</p>\n                    </div>\n                `;\n            } else {\n                messageDiv.style.color = 'var(--error-color)';\n                messageDiv.innerText = result.message || '登入失敗，請確認授權狀態。';\n            }\n        } catch (error) {\n            console.error('Fetch error:', error);\n            messageDiv.style.color = 'var(--error-color)';\n            messageDiv.innerText = '系統連線異常，請聯繫系統管理員。';\n        } finally {\n            loginBtn.disabled = false;\n            loginBtn.innerText = '驗證登入';\n        }\n    }\n\n    document.addEventListener('keypress', function (e) {\n        if (e.key === 'Enter') {\n            login();\n        }\n    });\n    </script>\n\n</body>\n\n</html>",
        "output": "str",
        "x": 450,
        "y": 280,
        "wires": [
            [
                "7f9862a7d1c76461"
            ]
        ]
    },
    {
        "id": "1c19d8822a0b4cd4",
        "type": "http in",
        "z": "9a8666bdc8a96089",
        "name": "",
        "url": "/api/login",
        "method": "post",
        "upload": false,
        "skipBodyParsing": false,
        "swaggerDoc": "",
        "x": 240,
        "y": 340,
        "wires": [
            [
                "f5247a7c989be125"
            ]
        ]
    },
    {
        "id": "f5247a7c989be125",
        "type": "http request",
        "z": "9a8666bdc8a96089",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/login",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 420,
        "y": 340,
        "wires": [
            [
                "890eba5f64ab5ee4",
                "9a4a6851d7c55b68"
            ]
        ]
    },
    {
        "id": "890eba5f64ab5ee4",
        "type": "http response",
        "z": "9a8666bdc8a96089",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 610,
        "y": 340,
        "wires": []
    },
    {
        "id": "9a4a6851d7c55b68",
        "type": "debug",
        "z": "9a8666bdc8a96089",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 400,
        "wires": []
    }
]